doctype html
head
    meta(charset="UFT=8")
    
    meta(name= "viewport" content="width=device-width, initial-scale=1.0")
    title Document

body
    form(action="http://localhost:4567/saludar" method="get")
    input(type="text" name="nombre" id="" placeholder="Escribe tu login")
    input(type="password" name="password" id="" placeholder="Escribe tu password")
    input(type="submit" value="llamar")

